body {
    font-family: 'Montserrat', sans-serif;
}
#map {
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    max-width: 100%;
	max-height: 100%;
}
.leaflet-popup-content {
    text-align: center;
}
/* Popup */
.leaflet-popup-content-wrapper {
    background-color: rgba(255, 255, 255, 0.70);
    border-radius: 0 20px;
}
.empree,
.constr,
.bairro,
.tipo {
    background-color: rgba(218, 218, 218, 0.80);
    padding: 5px;
    font-size: 12px;
}
.empree-item ,
.constr-item,
.bairro-item,
.tipo-item {
    padding: 5px;
    font-size: 14px;
}
