.footer {
    color: #ffffff;
    height: calc(100vh - 88px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .creditos {
        text-align: center;
        align-self: center;
        padding-top: 100px;
    }
    .nomes{
        list-style: none;
        padding: 0;
        text-align: left;
    }
    p {
        text-align: left;
    }
}