/* Globais */
// Fontes Responsivas:
// Use unidades de medida relativas (como em, rem ou %) para o tamanho de fonte em vez de unidades fixas (como px) para garantir que o texto seja redimensionado adequadamente.
// em (unidade relativa ao tamanho da fonte do elemento pai):
// Valor em em = Valor em px / Tamanho da fonte do elemento pai em px
// Valor em em = 32px / 16px = 2em
/* O tamanho da fonte raiz padrão é 16px = 1rem */
// rem (unidade relativa ao tamanho da fonte raiz):
// A conversão de px para rem é semelhante à conversão para em, mas você divide o valor em px pelo tamanho da fonte raiz (definido no elemento html). Supondo que o tamanho da fonte raiz seja 16px, a conversão seria a mesma:
// Valor em rem = Valor em px / Tamanho da fonte raiz em px
// Valor em rem = 32px / 16px = 2rem
html {
  font-size: 16px;

  body {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 0.75rem; // Equivalente a 12px

    background-image: url('../img/bg-topo.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Opcional: fixa a imagem de fundo */
  
    img {
      max-width: 100%
    }
  
    #goTopBtn {
      position: fixed;
      bottom: 20px;
      right: 30px;
      z-index: 2000;
      font-size: 1.125rem; // Equivalente a 18px
      border: none;
      outline: none;
      background-color: #dcdcdc;
      color: white;
      cursor: pointer;
      padding: 15px;
      border-radius: 4px;
      display: block;
    }
    
    #goTopBtn:hover {
      background-color: #697476;
    }
  }
}


