// Header
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DCDCDC;
    border-bottom: 10px solid #697476;
    text-align: center;
    width: 100%;
    height: auto;
}
#sul21 {
    order: 1;
}
.logo {
    flex: 1;
    text-align: center;
}
.menu-marcador {
    display: flex;
    justify-content: flex-end;
    font-size: 0.80rem;
}

// Menu mobile botão hamburguer offcanvas
.menu-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
  
.bar {
    width: 30px;
    height: 4px;
    background-color: #333;
    margin: 6px auto;
    transition: 0.4s;
}
  
/* Estilos para o ícone "X" quando o menu está aberto */
.menu-open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}
  
.menu-open .bar:nth-child(2) {
    opacity: 0;
}
  
.menu-open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

#offcanvasNavbar {
    background-image: url('../img/bg-topo.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Opcional: fixa a imagem de fundo */
    max-width: 30%;
    max-height: 25%;

    a {
        font-size: 1rem;
        color: #ffffff;
    }
}

/*
html, body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

p {
    color: $texto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Neris', sans-serif;
}

.row {
    margin: 0;
    padding: 0;
}

.nav a {
    color: $texto;
    text-decoration: none;

    &:hover {
        color: $rato;
        text-decoration: underline;
    }

    &:focus {
        color: $rato;
    }
}
*/




