// Resoluções mais utilizadas no Brasil - https://gs.statcounter.com/screen-resolution-stats/desktop-tablet-console/brazil/#monthly-202001-202307
// -xs- Dispositivos muito pequenos (telefones retrato, menos de 576px)
// Nenhuma consulta de mídia para `xs`, pois esse é o padrão no Bootstrap
@media screen and (max-width: 575px) {
    #home .container {
        max-width: 392px;
    }

    #sul21 {
        display: none;
    }
}
// -sm- Dispositivos pequenos (telefones em modo paisagem, 576px e superior)
//* Estilos para telas menores, como smartphones */
// Media Query Padrão (Para Estilos Base):
@media screen and (min-width: 576px) and (max-width: 767px){
    #home .container {
        max-width: 392px;
    }

    #sul21 {
        display: none;
    }
}
// -md- Dispositivos médios (tablets, 768px e superior)
@media screen and (min-width: 768px) and (max-width: 991px) {
    #home .container {
        max-width: 392px;
    }

    #sul21 {
        display: none;
    }
}
/* Estilos específicos para tablets em modo paisagem */
// Media Query para Tablets em Modo Paisagem:
@media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
    #home .container {
        max-width: 392px;
    }
}
/* Estilos específicos para tablets em modo retrato */
// Media Query para Tablets em Modo Retrato:
@media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
    #home .container {
        max-width: 392px;
    }
}

// -lg- Dispositivos grandes (desktops, 992px e superior)
@media screen and (min-width: 992px) and (max-width: 1199px) {
    #home .container {
        max-width: 800px;
    }
    
}
// -lg- Dispositivos grandes (desktops, 992px e superior)
/* Estilos para telas de tamanho médio, como desktops menores */
// Media Query para Telas Médias (Desktops Menores):
@media screen and (min-width: 1024px) and (max-width: 1199px) {
    #home .container {
        max-width: 800px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    #home .container {
        max-width: 800px;
    }
}
// -xl- Dispositivos muito grandes (desktops grandes, 1200px e superior)
// 1° (1366x768 - 29%) e 4° (1280x720 - 4%) resoluções mais utilizadas no Brasil
@media screen and (min-width: 1200px) and (max-width: 1399px) {
    #home .container {
        max-width: 800px;
    }    
}
// -xl- Dispositivos muito grandes (desktops grandes, 1200px e superior)
// 1° (1366x768 - 29%) e 4° (1280x720 - 4%) resoluções mais utilizadas no Brasil
/* Estilos para telas grandes, como desktops maiores */
// Media Query para Telas Grandes (Desktops Maiores):
@media screen and (min-width: 1200px) {
    #home .container {
        max-width: 800px;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
    #home .container {
        max-width: 800px;
    }
}
/* Estilos para dispositivos de alta resolução */
// Media Query para Alta Resolução (Retina, etc.):
@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

}

// -xxl- Dispositivos gigantes (áreas de trabalho maiores, 1400px e superior)
// 2° (1920x1080 FullHD - 25%), 3° (1536x864 - 9%), 5° (1440x900 - 4%) e 6° (1600x900 - 4%) resoluções mais utilizadas no Brasil
@media screen and (min-width: 1400px), (min-height: 901px) {
    #home .container {
        max-width: 800px;
    }
}