@media (max-height: 814px) {
    #map {
        width: 1920px;
        height: 650px;
        max-width: 100%;
        max-height: 100%;
    }
}

@media (min-height: 815px) and (max-height: 900px) {
    #map {
        width: 1920px;
        height: 750px;
        max-width: 100%;
        max-height: 100%;
    }
}

@media (min-height: 901px) and (max-height: 1023px) {
    
    #map {
        width: 1920px;
        height: 850px;
        max-width: 100%;
        max-height: 100%;
    }
}

@media (min-height: 1024px) and (max-height: 1399px) {
    
    #map {
        width: 1920px;
        height: 900px;
        max-width: 100%;
        max-height: 100%;
    }
}

@media (min-height: 1400px) {
    #map {
        width: 1920px;
        height: 900px;
        max-width: 100%;
        max-height: 100%;
    }
}
