/* Mapa */
.modal {
  z-index: 3050;
}

#map {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
}

#mapa {
  margin: -77px 0;
}
.leaflet-popup-content {
  text-align: center;
}

/* Limando bandeiras e suas guerras fascistas */
div .leaflet-attribution-flag {
  display: none !important;
}

/* Popup */
div .leaflet-popup .leaflet-popup-content-wrapper {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  z-index: 1800;
}

.empree,
.constr,
.bairro,
.tipo {
  background-color: rgba(218, 218, 218, 0.8);
  padding: 5px;
  font-size: 0.75rem; // Equivalente a 12px;
  text-align: center;
  z-index: 1800;
}

.empree-item,
.constr-item,
.bairro-item,
.tipo-item {
  padding: 10px;
  font-size: 0.875rem; // Equivalente a 14px;
  text-align: center;
  z-index: 1800;
}

/* Legendas */
.legendas {
  background-color: rgba(200, 200, 200, 0.5);
  z-index: 600;
  position: absolute;
  bottom: 0px;
  max-width: 392px;
  font-size: 0.75rem; // Idem
  padding: 10px;
  border-radius: 13px 13px 0 0;
}

.legendas .lista p {
  padding: 0;
  margin-bottom: 1rem;
  line-height: 1rem;
}

.legenda-cyrela p::before,
.legenda-destaques p::before,
.legenda-encorp p::before,
.legenda-lyx p::before,
.legenda-maiojama p::before,
.legenda-melnick p::before,
.legenda-mrv p::before,
.legenda-outras p::before,
.legenda-tenda p::before,
.legenda-zaffari p::before {
  content: "●";
  display: inline-block;
  width: 2rem;
  font-size: 30px;
}

.legenda-destaques p::before {
  color: $destaques;
}

.legenda-cyrela p::before {
  color: $cyrela;
}

.legenda-melnick p::before {
  color: $melnick;
}

.legenda-zaffari p::before {
  color: $zaffari;
}

.legenda-tenda p::before {
  color: $tenda;
}

.legenda-lyx p::before {
  color: $lyx;
}

.legenda-mrv p::before {
  color: $mrv;
}

.legenda-encorp p::before {
  color: $encorp;
}

.legenda-maiojama p::before {
  color: $maiojama;
}

.legenda-outras p::before {
  color: $outras;
}

.lista {
  padding: 0;
}

.borda {
  border-left: 1px solid;
  border-image: radial-gradient(
    to top,
    0% #bebebe,
    to bottom,
    100% rgba(50, 50, 50, 5)
  );
}
