/* Menu */
nav.menu {
  position: fixed;
  top: 10px;
}

.menu {
  color: #ffffff;
  text-align: center;
  display: block;
  max-width: 100%;
  padding: 0;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 3%;
}

.menu p {
  padding: 10% 0 0;
  margin-bottom: 0;
  line-height: 18px;
}

.destaque {
  background-color: #6d2024;
  border-radius: 0% 0% 0% 12%;
}

.builders {
  background-color: #0b1e30;
  border-radius: 0%;
}

.stage {
  background-color: #3f3030;
  border-radius: 0%;
}

.macrozones {
  background-color: #55596a;
  border-radius: 0% 0% 12% 0%;
}

/* Submenus */
.submenu {
  position: relative;
  z-index: 1200;
  text-align: center;

  .col-10 {
    width: 80%;
  }
}

.seta-voltar,
.submenu-icone {
  line-height: 21px;
  cursor: pointer;
  padding: 0;
  width: 30px;
  height: 30px;
}

.submenu-destaques {
  padding: 10px;
  background-color: #6d2024;
  border-radius: 0 0 8px 8px;
  line-height: 21px;
}

.submenu-construtoras {
  padding: 10px;
  background-color: #0b1e30;
  border-radius: 0 0 8px 8px;
  line-height: 21px;
}

.submenu-estagios {
  padding: 10px;
  background-color: #3f3030;
  border-radius: 0 0 8px 8px;
  line-height: 21px;
}

.submenu-macrozonas {
  padding: 10px;
  background-color: #55596a;
  border-radius: 0 0 8px 8px;
  line-height: 21px;
}

.submenu p {
  color: #ffffff;
  display: inline;
  margin: 0;
  font-size: 0.875rem; // Equivale a 14px;
  text-align: center;
  line-height: 21px;
}

/* Submenus botões*/
.destaques,
.construtoras,
.estagios,
.macrozonas {
  background-color: rgba(200, 200, 200, 0.5);
  padding: 5px;
  border-radius: 0 0 2em 2em;
}

.destaques ul,
.construtoras ul,
.estagios ul,
.macrozonas ul {
  padding: 2rem;
}

.destaques li,
.construtoras li,
.estagios li,
.macrozonas li {
  margin: 0.5rem 0;
  text-align: center;
}

.destaques button,
.construtoras button,
.estagios button,
.macrozonas button {
  background-image: none;
  background-color: #f5f5fa;
  width: 9em;
  color: #36597d;
  padding: 6px 0;
  border-radius: 13px;
  border: none;
  box-shadow: -3px -0px 5px 0 #fff,
    6px 6px 8px 0 rgba(170, 170, 204, 0.5019607843),
    3px 3px 4px 0 rgba(170, 170, 204, 0.2509803922),
    -3px -3px 4px 0 rgba(255, 255, 255, 0.5019607843);
  font-size: 0.75rem; // Equivale a 12px;
}

/*Destaques*/
.offcanvas-body span {
  color: #000;
  font-size: 0.875rem; // Equivalente a 14px;
}

.btn-primary:hover {
  color: #212529;
  background-color: #d9d9d9;
  border-color: #d9d9d9;
}
.btn-primary:active {
  color: #212529 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-primary:focus {
  color: #212529 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}

.expandButton {
  display: none;
  background-image: none;
  background-color: #f5f5fa;
  width: 9rem;
  color: #36597d;
  padding: 6px 0;
  border-radius: 13px;
  border: none;
  font-size: 0.75rem; // Equivale a 12px;
}

.divExpandButton{
    display: flex;
    justify-content: center;
    background-color: rgba(200,200,200,.5);
    border-radius: 0 0 2em 2em;
    padding: 5px;

}

span em{
  font-style: italic;
}
