// Reportagens, Cases e Créditos
#reportagens,
#cases,
#creditos {
    font-size: 1.125rem; // Equivale a 18px;

    a {
        text-decoration: none;
    }
}

#reportagens {
    padding-top: 100px;

    figcaption {
    text-decoration: none;
    }
    
}
#creditos,
#cases {
    padding-top: 100px;
}
  
//#creditos {}
