$preta:#040504;
$branca: #ffffff;

$texto: #3f3f3f;
$secundaria: #E53B27;
$rato: #d04c4c;

$bg-header: #DCDCDC;
$bg-destaque: #6D2024;
$bg-builders: #0B1E30;
$bg-stage: #3F3030;
$bg-macrozones: #55596a;
$bg-button: #F5F5FA;

$destaques: #6D1F24;
$cyrela: #145668;
$melnick: #C62377;
$zaffari: #785054;
$tenda: #642DA8;
$lyx: #C48B4D;
$mrv: #949ECA;
$encorp: #697476;
$maiojama: #3C9B53;
$outras: #583812;


