.video {
  height: 100vh; /* Ajusta a altura da seção conforme necessário */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.conteudo {
  max-width: 1300px; /* Define a largura máxima do conteúdo */
  width: 100%;
  padding: 20px;
  color: white; /* Cor do texto, para melhor visibilidade */
}